doctype html
html(lang='cn')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title 搜索
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body  
    .container
        form(class="input-group mb-3",action='/search')
            select(class="custom-select,input-group-prepend" name="type")
                - t = type == 'dmhy'
                if t
                    option(value="dmhy",selected="selected") 动漫花园
                    option(value="acg") ACG.RIP
                else
                    option(value="dmhy") 动漫花园
                    option(value="acg",selected="selected") ACG.RIP   
            input(type="text",name="key",value=key,class="form-control",placeholder="关键字",aria-describedby="button-addon2")
            div(class="input-group-append")
                button(class="btn btn-outline-secondary" type="submit" id="button-addon2") 搜索

        a(class="nav-link p-2" href=url target="_blank" rel="noopener") RSS
        
        ul.list-group
            each item in items
                li.list-group-item= item.title || item.description